body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Stock Portfolio Performance */
.portfolio-entry[performance='up'] {
  color: darkgreen;
  background-color: lightgreen;
}

.portfolio-entry[performance='down'] {
  color: darkred;
  background-color: rgb(255, 137, 137);
}

.portfolio-entry[performance='equal'] {
  color: rgb(97, 97, 97);
  background-color: lightgray;
}
